.main-view {
}

.wrapper-div{
    display: grid;
    grid-template-rows: 64px calc(100vh - 64px - 40px) 40px;
    overflow: hidden;
}

.toast {
    position: absolute;
    bottom: 200px;
    left: 47%;
    background: grey;
    color: whitesmoke;
    z-index: 2000000;
    font-size: 17px;
    padding: 7px;
    border-radius: 7px;
}